# Buildout configuration to make a test app for django-layout
# Author: Bruce Kroeze

[buildout]
parts =
    django
    django-command-extensions
    testrunner
    pep8 pep8-link
    django-nose

eggs =
    ipython
    python-memcached
    mysql-python
    django-keyedcache
    nose

extra-paths =
    ${django-nose:location}

unzip = true

[django]
recipe = djangorecipe
version = 1.3
project = playaevents
settings = development
test = djangotest
testrunner = djangotests
fcgi = true
eggs =
    ${buildout:eggs}
pythonpath =
    ${buildout:extra-paths}

[django-command-extensions]
recipe = zerokspot.recipe.git
repository = git://github.com/django-extensions/django-extensions.git

[django-nose]
recipe = zerokspot.recipe.git
repository = git://github.com/jbalogh/django-nose.git
branch = django-1.2

[pep8]
recipe = zerokspot.recipe.git
repository = git://github.com/jcrocholl/pep8.git

[pep8-link]
recipe = cns.recipe.symlink
symlink = ${pep8:location}/pep8.py = ${buildout:directory}/bin/pep8.py

[testrunner]
recipe = zc.recipe.testrunner
eggs =
     ${buildout:eggs}
extra-paths =
    ${buildout:extra-paths}
