#body {
    background-color:#FFFFFF;
    clear:both;
    margin:0 auto;
    padding:10px 30px 30px;
    width:80%;
    min-width:800px;
    overflow:hidden;

}

div.left_panel {
    float:left;
    width:65%;
    margin: 0 auto;
}
div.right_panel {
    float:right;
    margin-top:20px;
    width:30%;
    z-index:999;
}

div.friends .details {
    margin:0 0 12px;
    overflow:hidden;
    text-align:center;
    width:60px;
    margin:0 auto;
}

.uniForm fieldset {
    width:90%;
}

table.tasks th {
    text-align:left;
}
