/* GENERAL TAB STYLING */

#tabhead .tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    left: 210px; /* based on width and padding of logo */
}
#tabhead .tabs td {
    vertical-align: bottom;
    padding-right: 0; /* space between tabs */
    padding-bottom: 1px; /* must be same thickness as tab border */
}
#tabhead .tab a, #tabhead .tab a:visited {
    color: #444; /* unselected tab text colour */
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
#tabhead .tab a:hover {
    color: #ffdb60; /* unselected tab text hover colour */
}

#tabhead .tab div {
   	background: url('/media/img/bg-main-nav-slice.gif') repeat-x; /* unselected tab colour */
   	text-align: center;
    padding: 6px 0 3px 0;
    margin: 0 1px; /* to compensate for border */
}

#tabhead .tab div a {
    padding: 5px 12px;
}


#tabhead .right_tab {
    position: absolute;
    right: 6px;
    bottom: -1px; /* must be same thickness as tab border */
}

#tabhead .right_tab td {
    vertical-align: bottom;
    padding-right: 0; /* space between tabs */
    padding-bottom: 1px; /* must be same thickness as tab border */
}
