{% extends "playaevents/base.html" %}
{% block head_title %}API Documentation{% endblock %}

{% block subnav %}

{% endblock %}

{% block body %}
<h1>API Documentation</h1>
<div id="narrow-page-wrap">

<h2>API Overview</h2>
The Burning Man PlayaEvents API is free for you to use and build with.
<br/><br/>
The API currently supports two formats, XML and JSON. By default it
will return JSON. If you wish to consume XML, pass the API the keypair
format=xml. If you want JSONP, provide the keypair callback=myclbk.

<h2>Methods</h2>
The API supports the following methods to receive Burning Man data.<br/><br/>

<h3>Events</h3>

<ul>
<li>
  All Events in 2009
  <pre>{{ server }}/api/0.1/2009/event/</pre>
  <a href="http://jsbin.com/ilulu4/240">jQuery Events example</a> [<a href="http://jsbin.com/ilulu4/240/edit">source</a>]
</li>

<li>
  Event with ID 1676
  <pre>{{ server }}/api/0.2/2011/event/1676/</pre>
</li>

<li>
  Events starting after Sept 1st
  <pre>{{ server }}/api/0.2/2011/event/?start_time=2011-09-01%2018:00</pre>
</li>

<li>
  Events before Sept 1st
  <pre>{{ server }}/api/0.2/2011/event/?end_time=2011-09-01%2018:00</pre>
</li>

<li>
  Events between Sept 1st and Sept 2nd
  <pre>{{ server }}/api/0.2/2011/event/?end_time=2011-09-02%2018:00&start_time=2011-09-01%2018:00</pre>
</li>

<li>
  You don't have to specify the time if you don't want to as well
  <pre>{{ server }}/api/0.2/2011/event/?end_time=2011-09-01&start_time=2011-09-02</pre>
</li>
</ul>

<h3>Theme Camps</h3>
<ul>
<li>
  <pre>{{ server }}/api/0.2/2011/camp/</pre>
  <a href="http://jsbin.com/osoqo3">jQuery Theme Camps example</a> [<a href="http://jsbin.com/osoqo3/edit">source</a>]
</li>
<li>
  Camp with id 3510
  <pre>{{ server }}/api/0.2/2011/camp/3510/</pre>
  <a href="http://jsbin.com/ewude5/2">jQuery Theme Camp example</a> [<a href="http://jsbin.com/ewude5/2/edit">source</a>]
</li>
</ul>

<h3>Art Installations</h3>
<ul>
<li>
  <pre>{{ server }}/api/0.2/2011/art/</pre>
  <a href="http://jsbin.com/opiyo4/202">jQuery Art Listings example</a> [<a href="http://jsbin.com/opiyo4/202/edit">source</a>]
</li>

<li>
  Art with ID 1077
  <pre>{{ server }}/api/0.2/2011/art/1077/</pre>
  <a href="http://jsbin.com/enixe4">jQuery Art example</a> [<a href="http://jsbin.com/enixe4/edit">source</a>]
</li>
</ul>

<h3>Legal</h3>
© 2011 Black Rock City LLC, all rights reserved. Use of all event information and data restricted to free use. These materials are not to be used or distributed in any form which may be sold for profit.
</div>
{% endblock %}
