{% extends "playaevents/base.html" %}
{% load i18n %}
{% block head_title %} {{ year.year }} Event - {{ playa_event.title }} {% endblock %}
{% block body %}
<div id="narrow-page-wrap">
  <h2>Event View</h2>
  <div id="daily-box-wrap">
    <div class="span-left">
       <h4><a href='{% url playa_events_by_day year_year=playa_event.year.year playa_day=1 %}'><img src="{{ STATIC_URL }}images/nav-prev-arrow.gif" width="15" height="13" />&nbsp;Back to {{ playa_event.year.year }} Playa Events</a></h4>
    </div>
    <script type="text/javascript">
      if (document.referrer.search("/search/") != -1) {
          document.write('<div class="span-right"><a href="javascript:history.back();">Back to Search Results<img src="{{ STATIC_URL }}images/nav-next-arrow.gif" width="15" height="13" />&nbsp;</a></div>');
      };
    </script>
  </div>
  <div class="clear"></div>
  {% if not playa_event.list_online %}
    {% ifnotequal user playa_event.creator %}
    <h2>Event not available</h2>
    {% else %}
     {% include 'playaevents/playa_event_display.html' %}
    {% endifnotequal %}
  {% else %}
    {% ifnotequal playa_event.moderation 'A' %}
      {% ifnotequal user playa_event.creator %}
        <h2>Event not available</h2>
      {% else %}
        {% include 'playaevents/playa_event_display.html' %}
      {% endifnotequal %}
    {% else %}
      {% include 'playaevents/playa_event_display.html' %}
    {% endifnotequal %}
  {% endif %}
</div>

{% endblock %}
