{% load i18n %}
<br/>

{% if user.is_authenticated %}
{% ifequal user playa_event.creator %}
<div class="event_actions">
  {% if back_url %}
  <a href="{{ back_url }}">
    <img border="0" src="{{ STATIC_URL }}images/left_mod.png" alt="{% trans "Back" %}"/>
  </a>
  &nbsp;
  {% endif %}
  <b>Edit or delete your event:</b>
  <a href="{% url playa_event_edit playa_event.year.year playa_event.id %}"><img border="0" src="{{ STATIC_URL }}images/pencil.png" alt="{% trans "Change" %}"/></a>&nbsp;<a href="{% url playa_event_delete playa_event.year.year playa_event.id %}"><img border="0" src="{{ STATIC_URL }}images/delete.png" alt="{% trans "Delete" %}"/></a>
</div>
{% endifequal %}
{% endif %}

<div class="event-table">
<div class="event-name"><h2>{{playa_event.title}}</h2></div>
<table cellpadding="8" cellspacing="10" width="510">

 {% if playa_event.occurrence_set.count %}
     <tr>
       <td valign="top" width="170"><b>Date/Time(s):</b>
	</td>
       <td  width="330">
     	{% for o in playa_event.occurrence_set.all %}
		{% if playa_event.all_day %}
			{{ o.start_time|date:"l, F jS" }} - All Day
		{% else %}
	             {{ o.start_time|date:"l, F jS, Y P" }} &ndash;
        	     {{ o.end_time|date:"P" }}
		{% endif %}
	<br/>
     	{% endfor %}
       </td>
     </tr>
 {% else %}
 {% endif %}
{% ifequal user playa_event.creator %}
<tr>
  <td><b>Status:</b></td>
  {% ifequal playa_event.moderation 'A' %}
  <td class='mod-accepted'>Accepted</span></td>
  {% endifequal %}
  {% ifequal playa_event.moderation 'U' %}
  <td class='mod-unmoderated'>Not yet moderated</span></td>
  {% endifequal %}
  {% ifequal playa_event.moderation 'R' %}
  <td class='mod-rejected'>Rejected</span></td>
  {% endifequal %}
</tr>
{% endifequal %}
{% ifnotequal playa_event.event_type.abbr "none" %}
<tr>
<td><b>Type:</b></td>
<td>{{ playa_event.event_type.label }}</td>
</tr>
{% endifnotequal %}
<tr>
{% if playa_event.hosted_by_camp %}
<td><b>Hosted by Camp:</b></td>
<td>{{ playa_event.hosted_by_camp.name }}</td>
</tr>
{% endif %}
{% if playa_event.located_at_art %}
<tr>
<td><b>Located at Art:</b></td>
<td>{{ playa_event.located_at_art.name }}</td>
</tr>
{% endif %}
{% if playa_event.other_location %}
<tr>
<td><b>Location:</b></td>
<td>{{ playa_event.other_location }}</td>
</tr>
{% endif %}
<tr>
{% if playa_event.url %}
<td><b>URL:</b></td>
<td><a href='{{ playa_event.url }}' target="_blank">{{ playa_event.url }}</td>
</tr>
{% endif %}
{% if playa_event.list_contact_online %}
{% if playa_event.contact_email %}
<tr>
<td><b>Contact Email:</b></td>
<td><a href='mailto:{{ playa_event.contact_email }}'>{{ playa_event.contact_email }}</td>
{% endif %}
{% endif %}
</tr>
</table>
{% if playa_event.description %}
<h3>Description</h3>
<p class="event-d">{{playa_event.description}}</p>
{% endif %}
