{% extends "playaevents/base.html" %}
{% block head_title %} {{ year.year }} - Playa Events{% endblock %}
{% block body %}
<h1>
  Browse Playa Events
</h1>
<div id="narrow-page-wrap">
  <h2>
    Daily Event View
  </h2>
  <div id="daily-box-wrap">
    <div id="date-nav">
      <div class="span-left">
        <h4>
          {% if prev_day %}
          <a href="{% url playa_events_by_day year.year prev_day %}">
            <img src="{{ STATIC_URL }}images/nav-prev-arrow.gif" alt="Previous Day" />
            {{ prev_day_dt|date:"l, N j, y" }}
          </a>
          {% else %}
            <span style="color:#D3D3D3">
              <img src="{{ STATIC_URL }}images/nav-grey-prev-arrow.gif" width="15" height="13" />&nbsp;Previous Day
            </span>
          {% endif %}
        </h4>
      </div>
      <div class="span-right">
        <h4>
          {% if next_day %}
          <a href="{% url playa_events_by_day year.year next_day %}">
            {{ next_day_dt|date:"l, N j, y" }}&nbsp;<img src="{{ STATIC_URL }}images/nav-next-arrow.gif" alt="Next Day" />
          </a>
          {% else %}
          <span style="color:#D3D3D3">
            Next Day&nbsp;<img src="{{ STATIC_URL }}images/nav-grey-next-arrow.gif" width="15" height="13" />
          </span>
          {% endif %}
        </h4>
      </div>
    </div>
    <div id="daily_events">
      <span class="day_top_sub_header">Events for {{ next_day_dt|date:"l, N j, y" }}</span>
      {% if is_current_year %}
      <div id="create-new">
        <a href='{% url playa_event_add_day_thisyear playa_day=playa_day %}'>Add Your Event</a>
      </div>
      {% endif %}
      {% if all_day_occ %}
      <h4 class='day_sub_header'>
        All Day Events
      </h4>
      <div class='all_day_listing'>
        <ul>
          {% for o in all_day_occ %}
          <li><a href="{% url playa_event_view year.year o.event.playaevent.id %}">{{ o.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if timed_occ %}
      <h4 class='day_sub_header'>
        Scheduled Events
      </h4>
      <div class='timed_listing'>
        <ul>
          {% for o in timed_occ %}
          <li>
            <a href="{% url playa_event_view year.year o.event.playaevent.id %}">{{ o.title }}</a>
            <span class="event-times">
              ({{ o.start_time|date:"P" }} - {{ o.end_time|date:"P" }})
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}