{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>PlayaEvents : {% block head_title %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form.css" />
        {% if LANGUAGE_BIDI %}
        <style type="text/css" media="screen">
            div.right_panel {
                float: left; /* hotfix for sidebar */
            }
        </style>

        {% endif %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}pinax/js/uni-form.jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.timePicker.js"></script>
        {% block extra_head_base %}
          <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
          <link rel="stylesheet" href="{{ STATIC_URL }}css/skylar.css" />
          <link rel="stylesheet" href="{{ STATIC_URL }}css/listings.css" />
          {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>

    <body onload="{% block onload%}{% endblock %}">
        <div id="tabhead">
            <div class="logo" dir="ltr"><a href="/"><img src="{{ STATIC_URL }}bman-earth-default.gif" alt="PlayaEvents"/></a></div>
            <span class="login">
              {% block login %}
                {% if user.is_authenticated %}
                  <b>{{ user }}</b> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url auth_logout %}?next={{ request.path }}">{% trans "Logout" %}</a>
                {% else %}
                  <a href="{% url auth_login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url registration_register %}"><b>{% trans "Sign up" %}</b></a>
                {% endif %}
              {% endblock %}
            </span>
            <div class="tabs" {% block tab_id %}{% endblock %}>
              {% block tabs %}
              <table>
                <tr>
                  <td class="tab tab_home"><div><a href="/">{% trans "Home" %}</a></div></td>
                </tr>
              </table>
              {% endblock %}
            </div>
            <div class="right_tab" {% block rtab_id %}{% endblock %}>
            {% block right_tab %}
            {% comment %}
            <table>
              <tr>
                <td class="tab rtab_brc"><div><a href="{% url year_info 2011 %}">2011</a></div></td>
                {% if user.is_authenticated %}
                <td class="tab rtab_profile"><div><a href="{% url profile_detail user %}">{% trans "People" %}</a></div></td>
                {% else %}
                <td class="tab rtab_profile"><div><a href="{% url profile_list %}">{% trans "People" %}</a></div></td>
                {% endif %}
                {# <td class="tab rtab_search"><div><a href="/search">{% trans "Search" %}</a></div></td> #}
              </tr>
            </table>
            {% endcomment %}
            {% endblock %}
            </div>
        </div>
        <div id="subnav" class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div>

        <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block body %}{% block content %}{% endblock %}{% endblock %}

        </div>

        <span id="footer">
          {% block footer %}
          <div style="clear:both;"></div>
          <div class="legal">
            <a href="http://www.burningman.com/index/privacy_policy.html">privacy policy</a>&nbsp;::&nbsp;
            <a href="http://www.burningman.com/whatisburningman/people/web_bio.html">credits</a><br />
            dust in your eye? something not working?<br />
            let us know: <a href="mailto:playacal-admin@burningman.com">playacal-admin@burningman.com</a><br /> &copy; 1989-2011 black rock city, llc
          </div>
          {% endblock %}
        </span>

	{% block extra_body_base %}
          {% comment %}
          {% urchin %}
          <script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
          {% block extra_body %}{% endblock %}
          <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-10418553-23");
                pageTracker._trackPageview();
          } catch(err) {}</script>
          {% endcomment %}
          {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
