{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}


<img src="{{ STATIC_URL }}bman-earth-homebanner.jpg" alt="burning man 2008" width="955" height="170" alt=""/><br /><br />
<h2>Welcome to earth.burningman.com</h2>
<p>Now there are more ways than ever for you to connect with people and information in Black Rock City. A dedicated team of artists, coders, and software developers, in close collaboration with the organization, have created tools to help you locate others, schedule and find themecamp events, artwork, and much more. This project is aimed at providing a digital space which encompasses the entire event and community, both in BRC and in archival form, long after the dust has settled.</p>
<h2>The Burning Man API</h2>
<p>Looking for the recently released API? Burning Man's <a href="/api/docs">API</a> now enables developers and artists alike to remix and reuse publicly available data from the event. </p>
<h2>Network Information</h2>
<p>A few things to keep in mind if you are accesing the public network here in BRC. It is an open, unsecured network.</p>
<p>We've got a 'short tube'. The 10Mbps is shared by the entire Black Rock City. This includes Emergency Services and all the other BRC departments. Please limit high bandwidth use. Traffic shaping is in effect, (or QoS for the geeks) and use of the network is prioritized by need.</p>
<p>Public internet is brought to you by a dedicated team of geeky volunteers, and is not supported by Burning Man. This is a 'best-effort' service. Don't panic if you can't login to your favorite social network, there's the whole city waiting for you to explore it!</p>
</div>

{% endblock %}
